/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffdf7;
    line-height: 1.6;
    color: #183b2b;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* header 
class selectors
*/

.navbar {
    width: 100%;
    padding: 22px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: bisque;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navlinks {
    display: flex;
    gap: 32px;
}

.navlinks a {
    font-size: 14px;
    font-weight: 600;
    color: #183b2b;
    transition: 0.3s;
}

.navlinks a:hover {
    color: #f08c28;
}

.navbutton {
    background-color: #183b2b;
    color: floralwhite;
    padding: 12px 22px;
    border-radius: 30px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;

}

.navbutton:hover {
    background-color: #0e4f32;
    transform: translateY(-2px);
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #0e4f32;
    display: flex;
    gap: 10px;
    align-items: center;

}

.logo-icon {
    flex-shrink: 0;
}

/* hero section */

.hero {
    min-height: 620px;
    padding: 70px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.hero-content {
    width: 50%;
}

.hero-image {
    width: 45%;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.fruit-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #f5d86b;
    box-shadow: 0 25px 60px ;
    display: flex;
    justify-content: center;
    align-content: center;
    display: flex;

}

.fruit {
    width: 75px;
    height: 75px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    font-size: 42px;
    box-shadow:  0 12px 30px rgba(0, 0, 0, 0.52);

}

.fruit-one {
    top: 55px;
    right: 20px;
}
.fruit-two {
    top: 350px;
    left: 20px;
}
.fruit-three {
    bottom: 20px;
    right: 80px;
}



.tropics {
    color:#f08c28;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 15px;

}

.hero-content h1 {
    font-size: 75px;
    line-height: 1.05;
    letter-spacing: -3px;
    margin-bottom: 25px;

}

.hero-content h1 span {
    color:#f08c28;
}

.hero-text {
    max-width: 480px;
    color: #808080;
    font-size: 17px;
    margin-bottom: 35px;

}

.hero-button {
    display: flex;
    gap: 20px;
}

.button-1 {
    background-color: #f08c28;
    color: white;
    padding: 15px 28px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    border: none;
    transition: 0.3s;

}

.button-1:hover {
    background-color: #dd842b;
    transform: translateY(-3px);
}

.button-2 {
    background-color: floralwhite;;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: #196e48 ;
    transition: 0.3s;

}

.button-2:hover {
    color: #dd842b;
   
}

/* Farm produce */
.farm-produce {
    padding: 70px 7%;
    background-color: white;
}

.section-head {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.collection {
    color:#f08c28;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.section-head h1 {
    font-size: 42px;
    letter-spacing: 0.8px;
}

.des {
    max-width: 300px;
    color: #808080;
    font-weight: 500;
}

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.fruit-card {
    border: 1px solid #808080;
    border-radius: 20px;
    background-color: floralwhite;
    transition: 0.3s;
}

.fruit-card:hover {
    transform: translate(-8px);
}

.card-image {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0px 0px;
}

.mango {
    background-color: #fad4a3;
}

.orange {
    background-color: #fad4a3;
}

.pineapple {
     background-color: #ffbfd4;
}

.strawberry {
     background-color: #ffc579;
}

.category {
    color: #f08c28;
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 7px;


}

.fruit-name {
    font-size: 21px;
    margin-bottom: 17px;

}

.fruit-description {
    color: #808080;
    font-size: 13px;
    margin-bottom: 20px;

}

.card-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.price {
    font-weight: 800;

}

.add {
    background-color: #196e48;
    color: #808080;
    
}